//
   Created by luodan on 2015/8/4 0004.

doctype
html
   head
      meta(charset="utf-8")
      title #{title}
      include ./includes/head
   body
      include ./includes/header
      block content
      //h1 #{title}